<!-- templates/video_downloader/download_complete.html -->
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Download Complete</title>
</head>
<body>
    <div class="bg-body-tertiary p-5 rounded mt-3">
        <h1>Download Complete</h1>
        <p>Your videos) ' - ' have been downloaded successfully!</p>
    </div>
</body>
</html>
